# Vim
*.swp
*.swo

# IDE
.vscode/
*.code-workspace
*.cursorignore
*.cursorrules

# colcon
build/
install/
log/
/src/

# Python
*.pyc

# Jetbrains
.idea/

# rviz Screen Capture
capture/

# CodeChecker
.codechecker/

# Node.js
node_modules/
